.chat-main-body__message
  .chat-main-body__user
    .chat-main-body__name
      = message.user.name
    .chat-main-body__time
      = message.created_at.strftime('%Y/%m/%d %H:%M')
  .chat-main-body__message-message
    - if message.message.present?
      %p.chat-main-body__message-message
        = message.message
    %p.chat-main-body__message-image
      = image_tag message.image.url, class: 'message__image' if message.image.present?
