$colorCyan: #38AEF0;
$darkGrey : #434A54;
$chatMainWidth: calc((100vw - 300px) - 11rem);
$headerHeight: 110px;
$white: #ffffff;
$side_header_font: 16px;
$side_group_name: 15px;
$side_group_message: 11px;
